System/Resource/DTD/class_manifest_v1.dtd

<!ELEMENT manifest (implemets?, extends?, perissions?)>
<!ATTLIST manifest 
	    version CDATA #REQUIRED
	    class   CDATA #REQUIRED
	    guid    CDATA #IMPLIED
 >		
	<!ELEMENT extends EMPTY>
	<!ATTLIST extends 
		    class CDATA #REQUIRED
	 >		
	<!ELEMENT implemets (interface+)>
		<!ELEMENT interface (#PCDATA)>
	<!ELEMENT perissions (perission+)>
		<!ELEMENT perission (#PCDATA)>